body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:429px;
  top:20px;
  width:375px;
  height:647px;
}
#u3 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:429px;
  top:20px;
  width:375px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u6 {
  position:absolute;
  left:599px;
  top:51px;
  width:35px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:447px;
  top:317px;
  width:340px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:336px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:438px;
  top:51px;
  width:22px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u12 {
  position:absolute;
  left:435px;
  top:24px;
  width:363px;
  height:13px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u14 {
  position:absolute;
  left:442px;
  top:113px;
  width:65px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:59px;
}
#u16 {
  position:absolute;
  left:535px;
  top:119px;
  width:160px;
  height:59px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u18 {
  position:absolute;
  left:447px;
  top:380px;
  width:73px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u20 {
  position:absolute;
  left:757px;
  top:380px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u22 {
  position:absolute;
  left:447px;
  top:201px;
  width:340px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u23 {
  position:absolute;
  left:2px;
  top:11px;
  width:336px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u24 {
  position:absolute;
  left:447px;
  top:259px;
  width:340px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:336px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u27 {
  position:absolute;
  left:574px;
  top:465px;
  width:87px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:2px;
}
#u29 {
  position:absolute;
  left:447px;
  top:475px;
  width:127px;
  height:1px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u31 {
  position:absolute;
  left:661px;
  top:475px;
  width:123px;
  height:1px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u33 {
  position:absolute;
  left:574px;
  top:494px;
  width:25px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u35 {
  position:absolute;
  left:629px;
  top:491px;
  width:32px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:656px;
  top:509px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u37_seg1 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:226px;
  height:8px;
}
#u37_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:21px;
  height:20px;
}
#u37_seg3 {
  position:absolute;
  left:209px;
  top:-11px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:61px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u39 {
  position:absolute;
  left:878px;
  top:498px;
  width:145px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u41 {
  position:absolute;
  left:878px;
  top:536px;
  width:260px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u43 {
  position:absolute;
  left:762px;
  top:215px;
  width:12px;
  height:12px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:757px;
  top:270px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
